In [3]:
import os
import pandas as pd
import sys
import seaborn as sns
import numpy as np
import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import scipy.stats as stats
from creds import getCensusAPI

path = os.path.abspath('')

https://www.census.gov/data/developers/data-sets/acs-1year.2019.html

https://www.census.gov/data/developers/data-sets/census-microdata-api.html

In [ ]:
#Get PUMA to FIPS conversion
puma_path = path+'\\static-data\\tract-to-puma.txt'

tracts = pd.read_csv(puma_path)

tracts[0:20]

    STATEFP  COUNTYFP  TRACTCE  PUMA5CE
0         1         1    20100     2100
1         1         1    20200     2100
2         1         1    20300     2100
3         1         1    20400     2100
4         1         1    20500     2100
5         1         1    20600     2100
6         1         1    20700     2100
7         1         1    20801     2100
8         1         1    20802     2100
9         1         1    20900     2100
10        1         1    21000     2100
11        1         1    21100     2100
12        1         3    10100     2600
13        1         3    10200     2600
14        1         3    10300     2600
15        1         3    10400     2600
16        1         3    10500     2600
17        1         3    10600     2600
18        1         3    10701     2600
19        1         3    10703     2600

In [4]:
#Grab raw data

api_key = getCensusAPI()

columns = 'ACCESS,BROADBND,COMPOTHX,COW,DIALUP,ENG,FHISPEEDP,FLAPTOPP,FSEXP,FTELP,SCHL,SMARTPHONE,PUMA,ST'

url = 'https://api.census.gov/data/2019/acs/acs1/pums?get={}&key={}'.format(columns,api_key)

df = pd.read_json(url)

df.rename(columns=df.iloc[0], inplace=True)

df.drop([0, 1], inplace=True)

df

,ACCESS,BROADBND,COMPOTHX,COW,DIALUP,ENG,FHISPEEDP,FLAPTOPP,FSEXP,FTELP,SCHL,SMARTPHONE,PUMA,ST
2,0,0,0,0,0,0,-1,-1,0,-1,12,0,3301,48
3,0,0,0,2,0,0,-1,-1,0,-1,19,0,2100,18
4,0,0,0,1,0,0,-1,-1,0,-1,21,0,600,4
5,0,0,0,1,0,0,-1,-1,0,-1,16,0,5904,6
6,0,0,0,0,0,0,-1,-1,0,-1,16,0,8500,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3239549,1,1,2,7,2,0,0,0,0,0,21,1,10701,6
3239550,1,1,2,6,2,1,0,0,0,0,18,1,400,37
3239551,1,1,2,1,2,1,0,0,0,0,12,1,400,37
3239552,1,2,2,1,2,0,1,0,0,0,20,1,1100,48
3239553,1,2,2,1,2,0,1,0,0,0,19,1,1100,48

In [ ]:
#Convert PUMA+State FIPS to County and tract FIPS Code
df['COUNTY'] = np.nan

tracts.loc[(tracts['PUMA5CE'] == 1900)]

for row in df[0:10].iterrows():
  row_puma = row[1]['PUMA']
  row_st = row[1]['ST']

  print(tracts.loc[(tracts['PUMA5CE'] == row_puma) & (tracts['STATEFP'] == row_st)])
  
print(tracts.loc[(tracts['PUMA5CE'] == '2100') & (tracts['STATEFP'] == '1')])

Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []

In [ ]:
tracts[tracts['PUMA5CE'] == 2100]

tracts.loc[(tracts['PUMA5CE'] == 2100) & (tracts['STATEFP'] == 1)]

     STATEFP  COUNTYFP  TRACTCE  PUMA5CE
0          1         1    20100     2100
1          1         1    20200     2100
2          1         1    20300     2100
3          1         1    20400     2100
4          1         1    20500     2100
5          1         1    20600     2100
6          1         1    20700     2100
7          1         1    20801     2100
8          1         1    20802     2100
9          1         1    20900     2100
10         1         1    21000     2100
11         1         1    21100     2100
271        1        51    30100     2100
272        1        51    30200     2100
273        1        51    30300     2100
274        1        51    30400     2100
275        1        51    30500     2100
276        1        51    30600     2100
277        1        51    30701     2100
278        1        51    30702     2100
279        1        51    30800     2100
280        1        51    30901     2100
281        1        51    30902     2100
282        1        51    31000     2100
283        1        51    31100     2100
284        1        51    31200     2100
285        1        51    31300     2100
633        1        85   780800     2100
634        1        85   781000     2100
635        1        85   781100     2100
636        1        85   781200     2100
931        1       101      300     2100
932        1       101     5101     2100
933        1       101     5408     2100
934        1       101     5501     2100
935        1       101     5504     2100
936        1       101     5604     2100
937        1       101     5700     2100
938        1       101     5800     2100
939        1       101     5901     2100
940        1       101     6000     2100