In [2]:
import os
import pandas as pd
import sys
import seaborn as sns
import numpy as np
import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import scipy.stats as stats
from creds import getCensusAPI

path = os.path.abspath('')

https://www.census.gov/data/developers/data-sets/acs-1year.2019.html

https://www.census.gov/data/developers/data-sets/census-microdata-api.html

In [2]:
#Get PUMA to FIPS conversion
puma_path = path+'\\static-data\\tract-to-puma.txt'

tracts = pd.read_csv(puma_path)

tracts[0:20]

    STATEFP  COUNTYFP  TRACTCE  PUMA5CE
0         1         1    20100     2100
1         1         1    20200     2100
2         1         1    20300     2100
3         1         1    20400     2100
4         1         1    20500     2100
5         1         1    20600     2100
6         1         1    20700     2100
7         1         1    20801     2100
8         1         1    20802     2100
9         1         1    20900     2100
10        1         1    21000     2100
11        1         1    21100     2100
12        1         3    10100     2600
13        1         3    10200     2600
14        1         3    10300     2600
15        1         3    10400     2600
16        1         3    10500     2600
17        1         3    10600     2600
18        1         3    10701     2600
19        1         3    10703     2600

In [3]:
#Grab raw data

api_key = getCensusAPI()
#COW = "Class of worker"
        #  "9": "Unemployed and last worked 5 years ago or earlier or never worked",
        #  "7": "Self-employed in own incorporated business, professional practice or farm",
        #  "3": "Local government employee (city, county, etc.)",
        #  "8": "Working without pay in family business or farm",
        #  "5": "Federal government employee",
        #  "1": "Employee of a private for-profit co. or bus., or of an individual, for wages, salary, commissions",
        #  "4": "State government employee",
        #  "6": "Self-employed in own not incorporated business, professional practice, or farm",
        #  "2": "Employee of a private not-for-profit, tax-exempt, or charitable organization",
        #  "0": "N/A (less than 16 years old/NILF who last worked more than 5 years ago or never worked)"
#ACCESS= "Access to the Internet"
        # "3": "No access to the Internet at this house, apartment, or mobile home",
        # "1": "Yes, by paying a cell phone company or Internet service provider",
        # "0": "N/A (GQ/vacant)",
        # "2": "Yes, without paying a cell phone company or Internet service provider"

#BROADBND = "Cellular data plan for a smartphone or other mobile device"
        #  "2": "No",
        #  "0": "N/A (GQ/vacant/no paid access to the internet)",
        #  "1": "Yes"
#COMPOTHX = "Other computer equipment"
        #  "0": "N/A (GQ/vacant)",
        #  "1": "Yes",
        #  "2": "No"
#DIALUP = "Dial-up service"
        # "0": "N/A (GQ/vacant/no paid access to the internet)",
        # "1": "Yes",
        # "2": "No"

#ENG = "Ability to speak English"
        #  "4": "Not at all",
        #  "1": "Very well",
        #  "3": "Not well",
        #  "0": "N/A (less than 5 years old/speaks only English)",
        #  "2": "Well"
#FHISPEEDP = "Broadband (high speed) Internet service such as cable, fiber optic, or DSL service allocation flag"
        #  "1": "Yes",
        #  "0": "No",
        #  "-1": "N/A (GQ)"

#HISPEED =  "Broadband (high speed) Internet service such as cable, fiber optic, or DSL service"
        #  "2": "No",
        #  "1": "Yes",
        #  "0": "N/A (GQ/vacant/no paid access to the internet)"

#FLAPTOPP = "Laptop or desktop allocation flag"
        #  "0": "No",
        #  "1": "Yes",
        #  "-1": "N/A (GQ)"

#LAPTOP = "Laptop or desktop"
        #  "2": "No",
        #  "0": "N/A (GQ/vacant)",
        #  "1": "Yes"

#FSEXP = "Sex allocation flag"
        #  "1": "Yes",
        #  "0": "No"
#SEX   = "sex"
        #  "1": "Male",
        #  "2": "Female"

#FTELP = "Telephone service allocation flag"
        #  "-1": "N/A (GQ)",
        #  "1": "Yes",
        #  "0": "No"
#TEL = "Telephone service"
        #  "1": "Yes",
        #  "8": "Suppressed for data year 2019 for select PUMAs",
        #  "0": "N/A (GQ/vacant)",
        #  "2": "No"
#SCHL = "Educational attainment"
        #  "16": "Regular high school diploma",
        #  "01": "No schooling completed",
        #  "04": "Grade 1",
        #  "03": "Kindergarten",
        #  "07": "Grade 4",
        #  "23": "Professional degree beyond a bachelor's degree",
        #  "19": "1 or more years of college credit, no degree",
        #  "22": "Master's degree",
        #  "10": "Grade 7",
        #  "20": "Associate's degree",
        #  "0": "N/A (less than 3 years old)",
        #  "02": "Nursery school, preschool",
        #  "21": "Bachelor's degree",
        #  "08": "Grade 5",
        #  "24": "Doctorate degree",
        #  "06": "Grade 3",
        #  "14": "Grade 11",
        #  "17": "GED or alternative credential",
        #  "12": "Grade 9",
        #  "15": "12th grade - no diploma",
        #  "13": "Grade 10",
        #  "05": "Grade 2",
        #  "11": "Grade 8",
        #  "18": "Some college, but less than 1 year",
        #  "09": "Grade 6"

#SMARTPHONE = "SMARTPHONE"
        #  "2": "No",
        #  "0": "N/A (GQ/vacant)",
        #  "1": "Yes"


#PUMA = "Public use microdata area code (PUMA) based on 2010 Census definition (areas with population of 100,000 or more, use with ST for unique code)"
        #"range": [
        #  {
        #    "min": "100",
        #    "max": "70301",
        #    "description": "Public use microdata area codes"
        #  }
        #]

#ST = "State of current residence"
#HINCP = "Household income (past 12 months, use ADJINC to adjust HINCP to constant dollars)"
        #"item": {
        # "-60000": "N/A(GQ/vacant)",
        # "0": "No household income",
        # "-59999": "Loss of -$59,999 or more"
        #}
#RAC1P = "Recoded detailed race code"
        #  "3": "American Indian alone",
        #  "1": "White alone",
        #  "6": "Asian alone",
        #  "9": "Two or More Races",
        #  "4": "Alaska Native alone",
        #  "2": "Black or African American alone",
        #  "7": "Native Hawaiian and Other Pacific Islander alone",
        #  "5": "American Indian and Alaska Native tribes specified; or American Indian or Alaska Native, not specified and no other races",
        #  "8": "Some other race alone"

columns = 'ACCESS,BROADBND,COMPOTHX,COW,DIALUP,ENG,HISPEED,LAPTOP,SEX,TEL,SCHL,SMARTPHONE,HINCP,RAC1P,PUMA,ST'

url = 'https://api.census.gov/data/2019/acs/acs1/pums?get={}&key={}'.format(columns,api_key)
print(url)

df = pd.read_json(url)

df.rename(columns=df.iloc[0], inplace=True)
df.drop([0, 1], inplace=True)

df

https://api.census.gov/data/2019/acs/acs1/pums?get=ACCESS,BROADBND,COMPOTHX,COW,DIALUP,ENG,HISPEED,LAPTOP,SEX,TEL,SCHL,SMARTPHONE,HINCP,RAC1P,PUMA,ST&key=268949463634955799b3cc2da21a4cf457510677

,ACCESS,BROADBND,COMPOTHX,COW,DIALUP,ENG,HISPEED,LAPTOP,SEX,TEL,SCHL,SMARTPHONE,HINCP,RAC1P,PUMA,ST
2,0,0,0,0,0,0,0,0,1,0,12,0,-60000,1,3301,48
3,0,0,0,2,0,0,0,0,2,0,19,0,-60000,6,2100,18
4,0,0,0,1,0,0,0,0,1,0,21,0,-60000,1,600,4
5,0,0,0,1,0,0,0,0,2,0,16,0,-60000,1,5904,6
6,0,0,0,0,0,0,0,0,1,0,16,0,-60000,1,8500,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3239549,1,1,2,7,2,0,1,2,1,1,21,1,158000,1,10701,6
3239550,1,1,2,6,2,1,2,2,1,1,18,1,102000,1,400,37
3239551,1,1,2,1,2,1,2,2,2,1,12,1,102000,1,400,37
3239552,1,2,2,1,2,0,2,2,1,1,20,1,112000,1,1100,48
3239553,1,2,2,1,2,0,2,2,2,1,19,1,112000,1,1100,48

In [4]:


df['HINCP'] = pd.to_numeric(df['HINCP'])
df['SCHL'] = pd.to_numeric(df['SCHL'])

df_highspeed = df.loc[df['HISPEED'] == '1']
print(df_highspeed.shape)


df_laptop = df.loc[df['LAPTOP'] == '1']
print(df_laptop.shape[0])

df_valid = df.loc[(df['HISPEED'] != '0') & (df['LAPTOP'] != '0' ) & (df['HINCP'] != '-600000' )]
print(df_valid.shape)

education_levels = {
            "01": "No schooling completed",
            "02": "Nursery school, preschool",
            "03": "Kindergarten",
            "04": "Grade 1",
            "05": "Grade 2",
            "06": "Grade 3",
            "07": "Grade 4",
            "08": "Grade 5",
            "09": "Grade 6",
            "10": "Grade 7",                                
            "11": "Grade 8",
            "12": "Grade 9",
            "13": "Grade 10",
            "14": "Grade 11",
            "15": "12th grade - no diploma",
            "16": "Regular high school diploma",
            "17": "GED or alternative credential",
            "18": "Some college, but less than 1 year",
            "19": "1 or more years of college credit, no degree",
            "20": "Associate's degree",
            "21": "Bachelor's degree",
            "22": "Master's degree",
            "23": "Professional degree beyond a bachelor's degree",
            "24": "Doctorate degree"
}

print(education_levels)

edu_bins = [3, 9, 14, 17, 19, 20, 21, 23, 24]
for i in  range(1,  len(edu_bins)):
    start = edu_bins[i-1]
    end = edu_bins[i]

    df_edu = df_valid.loc[(df_valid['SCHL'] > start) & (df_valid['SCHL'] <= end)]
    count_total = df_edu.shape[0]
    average_income = df_edu['HINCP'].mean()
    count_hispeed = df_edu[df_edu['HISPEED'] == '1'].shape[0]
    count_laptop = df_edu[df_edu['LAPTOP'] == '1'].shape[0]

    output_str = 'education level: ({}, {}], average income: {}, total count: {}, high speed internet: {}, laptop: {}'.format(start, end, average_income, count_total, count_hispeed/count_total, count_laptop/count_total)
    print(output_str)

#range_end1 = 0

#df_range1 = df_valid.loc[(df_valid['HINCP'] >= min_income ) &( df_valid['HINCP'] < range_end1)]
#print(df_range1.shape)

#range_end2 = int(range_end1) + 10000
#df_range2 = df_valid.loc[(df_valid['HINCP'] >= range_end1 ) &( df_valid['HINCP'] < range_end2)]
#print(df_range2.shape)

(2318441, 16)
2580708
(2807147, 16)
max: 2907600
min: -15200
{'01': 'No schooling completed', '02': 'Nursery school, preschool', '03': 'Kindergarten', '04': 'Grade 1', '05': 'Grade 2', '06': 'Grade 3', '07': 'Grade 4', '08': 'Grade 5', '09': 'Grade 6', '10': 'Grade 7', '11': 'Grade 8', '12': 'Grade 9', '13': 'Grade 10', '14': 'Grade 11', '15': '12th grade - no diploma', '16': 'Regular high school diploma', '17': 'GED or alternative credential', '18': 'Some college, but less than 1 year', '19': '1 or more years of college credit, no degree', '20': "Associate's degree", '21': "Bachelor's degree", '22': "Master's degree", '23': "Professional degree beyond a bachelor's degree", '24': 'Doctorate degree'}
education level: (3, 9], average income: 114729.99068020404, total count: 226829, high speed internet: 0.8274471077331382, laptop: 0.86748167121488
education level: (9, 14], average income: 107334.74876696359, total count: 267632, high speed internet: 0.7978903867997847, laptop: 0.8493491062354277
education level: (14, 17], average income: 85593.74924336541, total count: 605312, high speed internet: 0.7629255656587016, laptop: 0.8263424481920068
education level: (17, 19], average income: 96269.10954523624, total count: 474708, high speed internet: 0.8135548589869983, laptop: 0.8953735770199786
education level: (19, 20], average income: 102108.32551082136, total count: 200021, high speed internet: 0.8294379090195529, laptop: 0.9195434479379665
education level: (20, 21], average income: 143387.36878060576, total count: 479689, high speed internet: 0.8851839420958163, laptop: 0.958104104951333
education level: (21, 23], average income: 177104.2932789998, total count: 270183, high speed internet: 0.9004526561626749, laptop: 0.9714304749003453
education level: (23, 24], average income: 192808.49564954848, total count: 36433, high speed internet: 0.912606702714572, laptop: 0.9799906678011693

In [5]:
min_income = df_valid['HINCP'].min()
max_income = df_valid['HINCP'].max()

print('max: ' + str(max_income))
print('min: ' + str(min_income))

bins = [min_income, 0, 10000, 20000, 50000, 100000, 200000, 500000, 1000000, max_income]
#df_valid['HINCP'].value_counts(bins=bins, sort=False)

for i in range(2, len(bins)):
    begin = bins[i-1]
    end = bins[i]

    df_range = df_valid.loc[(df_valid['HINCP'] >= begin ) & ( df_valid['HINCP'] < end)]
    count_total = df_range.shape[0]
    count_hispeed = df_range[df_range['HISPEED'] == '1'].shape[0]
    count_laptop = df_range[df_range['LAPTOP'] == '1'].shape[0]

    output_str = 'income range: [{}, {}], total count: {}, high speed internet: {}, laptop: {}'.format(begin, end, count_total, count_hispeed/count_total, count_laptop/count_total)
    print(output_str)

max: 2907600
min: -15200
income range: [0, 10000], total count: 76051, high speed internet: 0.6878016068164784, laptop: 0.7002011807865774
income range: [10000, 20000], total count: 111780, high speed internet: 0.6917248166040436, laptop: 0.7015745213812846
income range: [20000, 50000], total count: 520983, high speed internet: 0.7433236785077441, laptop: 0.7938243666300052
income range: [50000, 100000], total count: 900715, high speed internet: 0.8160561331830823, laptop: 0.8924987371144035
income range: [100000, 200000], total count: 840386, high speed internet: 0.8775860140459265, laptop: 0.9547660241841249
income range: [200000, 500000], total count: 304584, high speed internet: 0.919802090720458, laptop: 0.9790698132534867
income range: [500000, 1000000], total count: 49030, high speed internet: 0.9287579033244953, laptop: 0.9827860493575362
income range: [1000000, 2907600], total count: 2865, high speed internet: 0.949738219895288, laptop: 0.9821989528795811

In [6]:
print('==============================================================\n')
races = { "1": "White alone",
          "2": "Black or African American alone",
          "3": "American Indian alone",
          "4": "Alaska Native alone",
          "5": "American Indian and Alaska Native tribes specified; or American Indian or Alaska Native, not specified and no other races",
          "6": "Asian alone",
          "7": "Native Hawaiian and Other Pacific Islander alone",
          "8": "Some other race alone",
          "9": "Two or More Races"
        }
print(races)

for i in range(1, 9):
    df_race = df_valid.loc[df_valid['RAC1P'] == str(i)]
    count_total = df_race.shape[0]
    average_income = df_race['HINCP'].mean()
    count_hispeed = df_race[df_race['HISPEED'] == '1'].shape[0]
    count_laptop = df_race[df_race['LAPTOP'] == '1'].shape[0]

    output_str = 'race: {}, average income: {}, total count: {}, high speed internet: {}, laptop: {}'.format(i, average_income, count_total, count_hispeed/count_total, count_laptop/count_total)
    print(output_str)

==============================================================

{'1': 'White alone', '2': 'Black or African American alone', '3': 'American Indian alone', '4': 'Alaska Native alone', '5': 'American Indian and Alaska Native tribes specified; or American Indian or Alaska Native, not specified and no other races', '6': 'Asian alone', '7': 'Native Hawaiian and Other Pacific Islander alone', '8': 'Some other race alone', '9': 'Two or More Races'}
race: 1, average income: 117700.2495889618, total count: 2193835, high speed internet: 0.8284004950235546, laptop: 0.9016776557945333
race: 2, average income: 81330.01683350075, total count: 230968, high speed internet: 0.7773414498978214, laptop: 0.8079127844549895
race: 3, average income: 79752.27028723905, total count: 19113, high speed internet: 0.6932977554544028, laptop: 0.7712028462303144
race: 4, average income: 86373.09491978609, total count: 1496, high speed internet: 0.44786096256684493, laptop: 0.6510695187165776
race: 5, average income: 85214.94560404807, total count: 3162, high speed internet: 0.7163187855787476, laptop: 0.7697659709044908
race: 6, average income: 151947.54914318767, total count: 165964, high speed internet: 0.8953447735653515, laptop: 0.9468077414379023
race: 7, average income: 112217.57887579329, total count: 4412, high speed internet: 0.8363553943789664, laptop: 0.8198096101541251
race: 8, average income: 86415.05935270185, total count: 97822, high speed internet: 0.7747336999856883, laptop: 0.7856310441413997

In [14]:
print('==============================================================\n')
races = { "1": "White alone",
          "2": "Black or African American alone",
          "3": "American Indian alone",
          "4": "Alaska Native alone",
          "5": "American Indian and Alaska Native tribes specified; or American Indian or Alaska Native, not specified and no other races",
          "6": "Asian alone",
          "7": "Native Hawaiian and Other Pacific Islander alone",
          "8": "Some other race alone",
          "9": "Two or More Races"
        }
print(races)

average_internet_price = 55 * 12
laptop_price = 1400

for i in range(1, 9):
    df_race = df_valid.loc[df_valid['RAC1P'] == str(i)]
    count_total = df_race.shape[0]
    average_income = df_race['HINCP'].mean()

    df_afford_internet = df_race[ (df_race[ 'HINCP' ] * 0.8 * 1.1/100 >= average_internet_price)]
    df_afford_laptop = df_race[(df_race[ 'HINCP' ] * 0.8 * 5.1/100 >= laptop_price)]
    count_hispeed = df_afford_internet.shape[0]
    count_laptop = df_afford_laptop.shape[0]

    output_str = 'race: {}, average income: {}, total count: {}, high speed internet: {}, equipment: {}'.format(i, average_income, count_total, count_hispeed/count_total, count_laptop/count_total)
    print(output_str)

==============================================================

{'1': 'White alone', '2': 'Black or African American alone', '3': 'American Indian alone', '4': 'Alaska Native alone', '5': 'American Indian and Alaska Native tribes specified; or American Indian or Alaska Native, not specified and no other races', '6': 'Asian alone', '7': 'Native Hawaiian and Other Pacific Islander alone', '8': 'Some other race alone', '9': 'Two or More Races'}
race: 1, average income: 117700.2495889618, total count: 2193835, high speed internet: 0.5893469654737025, equipment: 0.8631401176478632
race: 2, average income: 81330.01683350075, total count: 230968, high speed internet: 0.4108664403726923, equipment: 0.7337250181843372
race: 3, average income: 79752.27028723905, total count: 19113, high speed internet: 0.42416156542667294, equipment: 0.7453565635954585
race: 4, average income: 86373.09491978609, total count: 1496, high speed internet: 0.45788770053475936, equipment: 0.8181818181818182
race: 5, average income: 85214.94560404807, total count: 3162, high speed internet: 0.4405439595192916, equipment: 0.7767235926628716
race: 6, average income: 151947.54914318767, total count: 165964, high speed internet: 0.6981092285073871, equipment: 0.888144416861488
race: 7, average income: 112217.57887579329, total count: 4412, high speed internet: 0.5967815049864007, equipment: 0.8560743427017226
race: 8, average income: 86415.05935270185, total count: 97822, high speed internet: 0.45876183271656684, equipment: 0.8024370795935475

In [15]:
education_levels = {
            "01": "No schooling completed",
            "02": "Nursery school, preschool",
            "03": "Kindergarten",
            "04": "Grade 1",
            "05": "Grade 2",
            "06": "Grade 3",
            "07": "Grade 4",
            "08": "Grade 5",
            "09": "Grade 6",
            "10": "Grade 7",                                
            "11": "Grade 8",
            "12": "Grade 9",
            "13": "Grade 10",
            "14": "Grade 11",
            "15": "12th grade - no diploma",
            "16": "Regular high school diploma",
            "17": "GED or alternative credential",
            "18": "Some college, but less than 1 year",
            "19": "1 or more years of college credit, no degree",
            "20": "Associate's degree",
            "21": "Bachelor's degree",
            "22": "Master's degree",
            "23": "Professional degree beyond a bachelor's degree",
            "24": "Doctorate degree"
}

print(education_levels)

edu_bins = [14, 17, 19, 20, 21, 23, 24]
for i in  range(1,  len(edu_bins)):
    start = edu_bins[i-1]
    end = edu_bins[i]

    df_edu = df_valid.loc[(df_valid['SCHL'] > start) & (df_valid['SCHL'] <= end)]
    count_total = df_edu.shape[0]
    average_income = df_edu['HINCP'].mean()

    df_afford_internet = df_edu[ (df_edu[ 'HINCP' ] * 0.8 * 1.1/100 >= average_internet_price)]
    df_afford_laptop = df_edu[(df_edu[ 'HINCP' ] * 0.8 * 5.1/100 >= laptop_price)]
    count_hispeed = df_afford_internet.shape[0]
    count_laptop = df_afford_laptop.shape[0]

    output_str = 'education level: ({}, {}], average income: {}, total count: {}, high speed internet: {}, laptop: {}'.format(start, end, average_income, count_total, count_hispeed/count_total, count_laptop/count_total)
    print(output_str)

{'01': 'No schooling completed', '02': 'Nursery school, preschool', '03': 'Kindergarten', '04': 'Grade 1', '05': 'Grade 2', '06': 'Grade 3', '07': 'Grade 4', '08': 'Grade 5', '09': 'Grade 6', '10': 'Grade 7', '11': 'Grade 8', '12': 'Grade 9', '13': 'Grade 10', '14': 'Grade 11', '15': '12th grade - no diploma', '16': 'Regular high school diploma', '17': 'GED or alternative credential', '18': 'Some college, but less than 1 year', '19': '1 or more years of college credit, no degree', '20': "Associate's degree", '21': "Bachelor's degree", '22': "Master's degree", '23': "Professional degree beyond a bachelor's degree", '24': 'Doctorate degree'}
education level: (14, 17], average income: 85593.74924336541, total count: 605312, high speed internet: 0.4463830223091563, laptop: 0.7966536265595263
education level: (17, 19], average income: 96269.10954523624, total count: 474708, high speed internet: 0.5137705705402058, laptop: 0.8280205937123453
education level: (19, 20], average income: 102108.32551082136, total count: 200021, high speed internet: 0.5727348628394019, laptop: 0.8669089745576715
education level: (20, 21], average income: 143387.36878060576, total count: 479689, high speed internet: 0.7097035787770827, laptop: 0.9167752439601492
education level: (21, 23], average income: 177104.2932789998, total count: 270183, high speed internet: 0.7849827709367355, laptop: 0.9426610852644319
education level: (23, 24], average income: 192808.49564954848, total count: 36433, high speed internet: 0.8244997666950292, laptop: 0.950539346197129