In [1]:
import os
import pandas as pd
import sys
import seaborn as sns
import numpy as np
import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import scipy.stats as stats
from creds import getCensusAPI

path = os.path.abspath('')

https://www.census.gov/data/developers/data-sets/acs-1year.2019.html

https://www.census.gov/data/developers/data-sets/census-microdata-api.html

In [2]:
#Get PUMA to FIPS conversion
puma_path = path+'\\static-data\\tract-to-puma.txt'

tracts = pd.read_csv(puma_path)

tracts[0:20]

    STATEFP  COUNTYFP  TRACTCE  PUMA5CE
0         1         1    20100     2100
1         1         1    20200     2100
2         1         1    20300     2100
3         1         1    20400     2100
4         1         1    20500     2100
5         1         1    20600     2100
6         1         1    20700     2100
7         1         1    20801     2100
8         1         1    20802     2100
9         1         1    20900     2100
10        1         1    21000     2100
11        1         1    21100     2100
12        1         3    10100     2600
13        1         3    10200     2600
14        1         3    10300     2600
15        1         3    10400     2600
16        1         3    10500     2600
17        1         3    10600     2600
18        1         3    10701     2600
19        1         3    10703     2600

In [7]:
#Grab raw data

api_key = getCensusAPI()
#COW = "Class of worker"
        #  "9": "Unemployed and last worked 5 years ago or earlier or never worked",
        #  "7": "Self-employed in own incorporated business, professional practice or farm",
        #  "3": "Local government employee (city, county, etc.)",
        #  "8": "Working without pay in family business or farm",
        #  "5": "Federal government employee",
        #  "1": "Employee of a private for-profit co. or bus., or of an individual, for wages, salary, commissions",
        #  "4": "State government employee",
        #  "6": "Self-employed in own not incorporated business, professional practice, or farm",
        #  "2": "Employee of a private not-for-profit, tax-exempt, or charitable organization",
        #  "0": "N/A (less than 16 years old/NILF who last worked more than 5 years ago or never worked)"
#ACCESS= "Access to the Internet"
        # "3": "No access to the Internet at this house, apartment, or mobile home",
        # "1": "Yes, by paying a cell phone company or Internet service provider",
        # "0": "N/A (GQ/vacant)",
        # "2": "Yes, without paying a cell phone company or Internet service provider"

#BROADBND = "Cellular data plan for a smartphone or other mobile device"
        #  "2": "No",
        #  "0": "N/A (GQ/vacant/no paid access to the internet)",
        #  "1": "Yes"
#COMPOTHX = "Other computer equipment"
        #  "0": "N/A (GQ/vacant)",
        #  "1": "Yes",
        #  "2": "No"
#DIALUP = "Dial-up service"
        # "0": "N/A (GQ/vacant/no paid access to the internet)",
        # "1": "Yes",
        # "2": "No"

#ENG = "Ability to speak English"
        #  "4": "Not at all",
        #  "1": "Very well",
        #  "3": "Not well",
        #  "0": "N/A (less than 5 years old/speaks only English)",
        #  "2": "Well"
#FHISPEEDP = "Broadband (high speed) Internet service such as cable, fiber optic, or DSL service allocation flag"
        #  "1": "Yes",
        #  "0": "No",
        #  "-1": "N/A (GQ)"

#HISPEED =  "Broadband (high speed) Internet service such as cable, fiber optic, or DSL service"
        #  "2": "No",
        #  "1": "Yes",
        #  "0": "N/A (GQ/vacant/no paid access to the internet)"

#FLAPTOPP = "Laptop or desktop allocation flag"
        #  "0": "No",
        #  "1": "Yes",
        #  "-1": "N/A (GQ)"

#LAPTOP = "Laptop or desktop"
        #  "2": "No",
        #  "0": "N/A (GQ/vacant)",
        #  "1": "Yes"

#FSEXP = "Sex allocation flag"
        #  "1": "Yes",
        #  "0": "No"
#SEX   = "sex"
        #  "1": "Male",
        #  "2": "Female"

#FTELP = "Telephone service allocation flag"
        #  "-1": "N/A (GQ)",
        #  "1": "Yes",
        #  "0": "No"
#TEL = "Telephone service"
        #  "1": "Yes",
        #  "8": "Suppressed for data year 2019 for select PUMAs",
        #  "0": "N/A (GQ/vacant)",
        #  "2": "No"
#SCHL = "Educational attainment"
        #  "16": "Regular high school diploma",
        #  "01": "No schooling completed",
        #  "04": "Grade 1",
        #  "03": "Kindergarten",
        #  "07": "Grade 4",
        #  "23": "Professional degree beyond a bachelor's degree",
        #  "19": "1 or more years of college credit, no degree",
        #  "22": "Master's degree",
        #  "10": "Grade 7",
        #  "20": "Associate's degree",
        #  "0": "N/A (less than 3 years old)",
        #  "02": "Nursery school, preschool",
        #  "21": "Bachelor's degree",
        #  "08": "Grade 5",
        #  "24": "Doctorate degree",
        #  "06": "Grade 3",
        #  "14": "Grade 11",
        #  "17": "GED or alternative credential",
        #  "12": "Grade 9",
        #  "15": "12th grade - no diploma",
        #  "13": "Grade 10",
        #  "05": "Grade 2",
        #  "11": "Grade 8",
        #  "18": "Some college, but less than 1 year",
        #  "09": "Grade 6"

#SMARTPHONE = "SMARTPHONE"
        #  "2": "No",
        #  "0": "N/A (GQ/vacant)",
        #  "1": "Yes"


#PUMA = "Public use microdata area code (PUMA) based on 2010 Census definition (areas with population of 100,000 or more, use with ST for unique code)"
        #"range": [
        #  {
        #    "min": "100",
        #    "max": "70301",
        #    "description": "Public use microdata area codes"
        #  }
        #]

#ST = "State of current residence"

columns = 'ACCESS,BROADBND,COMPOTHX,COW,DIALUP,ENG,HISPEED,LAPTOP,SEX,TEL,SCHL,SMARTPHONE,PUMA,ST'

url = 'https://api.census.gov/data/2019/acs/acs1/pums?get={}&key={}'.format(columns,api_key)
print(url)

df = pd.read_json(url)

df.rename(columns=df.iloc[0], inplace=True)

df.drop([0, 1], inplace=True)

df

https://api.census.gov/data/2019/acs/acs1/pums?get=ACCESS,BROADBND,COMPOTHX,COW,DIALUP,ENG,FHISPEEDP,FLAPTOPP,FSEXP,FTELP,SCHL,SMARTPHONE,PUMA,ST&key=268949463634955799b3cc2da21a4cf457510677

In [6]:
#Convert PUMA+State FIPS to County and tract FIPS Code
df['COUNTY'] = np.nan

tracts.loc[(tracts['PUMA5CE'] == 1900)]

for row in df[0:10].iterrows():
  row_puma = row[1]['PUMA']
  row_st = row[1]['ST']

  print(tracts.loc[(tracts['PUMA5CE'] == row_puma) & (tracts['STATEFP'] == row_st)])
  
print(tracts.loc[(tracts['PUMA5CE'] == '2100') & (tracts['STATEFP'] == '1')])

Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []
Empty DataFrame
Columns: [STATEFP, COUNTYFP, TRACTCE, PUMA5CE]
Index: []

In [ ]:
tracts[tracts['PUMA5CE'] == 2100]

tracts.loc[(tracts['PUMA5CE'] == 2100) & (tracts['STATEFP'] == 1)]

     STATEFP  COUNTYFP  TRACTCE  PUMA5CE
0          1         1    20100     2100
1          1         1    20200     2100
2          1         1    20300     2100
3          1         1    20400     2100
4          1         1    20500     2100
5          1         1    20600     2100
6          1         1    20700     2100
7          1         1    20801     2100
8          1         1    20802     2100
9          1         1    20900     2100
10         1         1    21000     2100
11         1         1    21100     2100
271        1        51    30100     2100
272        1        51    30200     2100
273        1        51    30300     2100
274        1        51    30400     2100
275        1        51    30500     2100
276        1        51    30600     2100
277        1        51    30701     2100
278        1        51    30702     2100
279        1        51    30800     2100
280        1        51    30901     2100
281        1        51    30902     2100
282        1        51    31000     2100
283        1        51    31100     2100
284        1        51    31200     2100
285        1        51    31300     2100
633        1        85   780800     2100
634        1        85   781000     2100
635        1        85   781100     2100
636        1        85   781200     2100
931        1       101      300     2100
932        1       101     5101     2100
933        1       101     5408     2100
934        1       101     5501     2100
935        1       101     5504     2100
936        1       101     5604     2100
937        1       101     5700     2100
938        1       101     5800     2100
939        1       101     5901     2100
940        1       101     6000     2100