In [4]:
import os
import pandas as pd
import sys
import seaborn as sns
import numpy as np
import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import scipy.stats as stats
from sodapy import Socrata
from creds import getCensusAPI

path = os.path.abspath('')

In [2]:
#Load raw data
fcc_path = path+'\\static-data\\cleaned_fcc_small.csv'

fcc_data = pd.read_csv(fcc_path)

fcc_data['Census Block FIPS Code'] = fcc_data['Census Block FIPS Code'].astype(str)

fcc_data.drop(['Unnamed: 0'], axis=1, inplace=True)

for index, value in fcc_data.iterrows():
    currentCode = fcc_data.iat[index,0]
    currentCode = currentCode[:-2].zfill(15)

    fcc_data.at[index, 'Census Block FIPS Code'] = currentCode

fcc_data[:20]

   Census Block FIPS Code  Max Advertised Downstream Speed (mbps)
0         000100102010010                                    25.0
1         000100102010020                                    25.0
2         000100102080110                                    35.0
3         000100102080110                                    35.0
4         000100102080110                                    35.0
5         000100102080110                                    35.0
6         000100102080110                                    35.0
7         000100102080110                                    35.0
8         000100102080110                                    35.0
9         000100102080110                                    35.0
10        000100102080110                                    35.0
11        000100102080110                                    35.0
12        000100102080110                                    35.0
13        000100102080110                                    35.0
14        000100102080110                                    35.0
15        000100102080110                                    35.0
16        000100102080110                                    35.0
17        000100102080110                                    35.0
18        000100102080110                                    35.0
19        000100102080110                                    35.0

In [3]:
#Current threshold = 50mbps, further narrow down if needed
threshold = 50

df = fcc_data[fcc_data['Max Advertised Downstream Speed (mbps)'] < threshold]

In [5]:
#Fuse with ACS data
api_key = getCensusAPI()

#http://api.census.gov/data/2019/acs/acs1
#https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=place:07000&in=state:01&key=YOUR_KEY_GOES_HERE
#https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=public%20use%20microdata%20area:00202&in=state:04
#url = 'https://api.census.gov/data/2019/acs/acs1/pums?get={}&key={}'.format(columns,api_key)

NameError: name 'columns' is not defined

In [29]:

url = 'https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E,B07010_003E&for=county:*&in=state:*&key={}'.format(api_key)


acs_data = pd.read_json(url)

acs_data

                              0            1            2      3       4
0                          NAME  B01001_001E  B07010_003E  state  county
1    Jefferson County, Kentucky       766757       563081     21     111
2    Hennepin County, Minnesota      1265843       956556     27     053
3     Olmsted County, Minnesota       158293       117641     27     109
4       Scott County, Minnesota       149013         None     27     139
..                          ...          ...          ...    ...     ...
836       Kaufman County, Texas       136154        91224     48     257
837          Bell County, Texas       362924       239463     48     027
838       Cameron County, Texas       423163       250203     48     061
839       El Paso County, Texas       839238       533637     48     141
840   Nacogdoches County, Texas        65204         None     48     347

[841 rows x 5 columns]

In [28]:
#Get PUMA to FIPS conversion
puma_path = path+'\\static-data\\tract-to-puma.txt'

tracts = pd.read_csv(puma_path)

print(len(tracts.PUMA5CE.unique()))

tracts[0:20]

982

    STATEFP  COUNTYFP  TRACTCE  PUMA5CE
0         1         1    20100     2100
1         1         1    20200     2100
2         1         1    20300     2100
3         1         1    20400     2100
4         1         1    20500     2100
5         1         1    20600     2100
6         1         1    20700     2100
7         1         1    20801     2100
8         1         1    20802     2100
9         1         1    20900     2100
10        1         1    21000     2100
11        1         1    21100     2100
12        1         3    10100     2600
13        1         3    10200     2600
14        1         3    10300     2600
15        1         3    10400     2600
16        1         3    10500     2600
17        1         3    10600     2600
18        1         3    10701     2600
19        1         3    10703     2600